<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name ="SQL"
       connectionString="User id=user18;password=711user18;server=176.31.248.137;Trusted_Connection=no;database=user18"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>